body {
    background: linear-gradient(#4e4376, #2b5876);
}

.axis {
    stroke: #CAFFFD;
    fill: #CAFFFD;
    font-size: smaller;
}

.B_graph {
    padding-top: 100px;
}

.pie {
    float: right;
    margin-top: 200px;
}

.Teams_Bar {
    position: relative;
}

